.files-container {
  margin-top: 1rem;
  height: 100vh;
  min-width: 30rem;
  flex: 1;
  overflow-y: auto;
  border-right: 1px white dashed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.25rem;

  @keyframes dirAnimation {
    0% {
      max-height: 0;
      padding: 0;
      opacity: 0;
    }
    50% {
      max-height: 100vh;
      padding: 0.6rem 0.1rem 0.6rem 0.6rem;
    }
    100% {
      opacity: 1;
    }
  }
  .icon-container {
    font-size: 1.75em;
  }
  .dir {
    .folder-options {
      display: flex;
      flex-direction: row;
      .icon-container {
        font-size: 1.35em;
        color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
        transition: 0.2s;
      }
    }
    &.hovered {
      > .folder-name > .folder-options > .icon-container {
        color: rgba(255, 255, 255, 1);
        pointer-events: all;
        &:hover,
        &:active,
        &:focus {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .folder-name,
  .file {
    cursor: pointer;
  }
  .dir,
  .file {
    display: block;
    padding: 0.5rem;
    transition: 0.1s ease-in-out;
    border-left: 3px transparent solid;

    .folder-name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .icon-container {
        margin-right: 0.25rem;
      }
    }
    h4 {
      margin: 0;
      font-weight: 100;
    }

    &.dir-level-1 {
      &:hover,
      &:active,
      &:focus {
        background: #4949494b;
      }
      &.open {
        background: #4949494b;
      }
      .dir,
      .file {
        &:hover,
        &:active,
        &:focus,
        &.open {
          border-left: 3px rgb(61, 94, 185) solid;
        }
      }
    }

    &.open {
      > .dir {
        font-size: 1rem;
        height: auto;
        padding: 0.5rem 0 0.5rem 0.5rem;
        animation: dirAnimation 0.4s ease-in-out forwards;
        pointer-events: all;
        transform: translateY(0px);
        &.open > .file {
          font-size: 1rem;
          height: auto;
          padding: 0.5rem;
          animation: dirAnimation 0.4s ease-in-out forwards;
          pointer-events: all;
          transform: translateY(0px);
        }
      }
    }

    > .dir {
      height: 0;
      font-size: 0;
      padding: 0;
      pointer-events: none;
      transform: translateY(-20px);
      > .file {
        height: 0;
        font-size: 0;
        padding: 0;
        pointer-events: none;
      }
    }
  }
}
