.files-container {
  padding: 2rem;
  height: 100vh;
  min-width: 30rem;
  flex: 1;
  overflow-y: auto;
  border-right: 1px white dashed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  @keyframes dirAnimation {
    0% {
      max-height: 0;
      padding: 0;
      opacity: 0;
    }
    50% {
      max-height: 100vh;
      padding: 0.5rem;
    }
    100% {
      opacity: 1;
    }
  }

  .dir,
  .file {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    border-left: 3px transparent solid;
    .folder-name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .icon-container {
        margin-right: 0.25rem;
      }
    }
    h4 {
      margin: 0;
      font-weight: 100;
    }

    &.dir-level-1 {
      &:hover,
      &:active,
      &:focus {
        background: #4949494b;
      }
      &.open {
        background: #4949494b;
      }
      .dir,
      .file {
        &:hover,
        &:active,
        &:focus,
        &.open {
          border-left: 3px rgb(61, 94, 185) solid;
        }
      }
    }

    &.open {
      > .dir {
        font-size: 1rem;
        height: auto;
        padding: 0.5rem;
        animation: dirAnimation 0.4s ease-in-out forwards;
        pointer-events: all;
        &.open > .file {
          font-size: 1rem;
          height: auto;
          padding: 0.5rem;
          animation: dirAnimation 0.4s ease-in-out forwards;
          pointer-events: all;
        }
      }
    }

    > .dir {
      height: 0;
      font-size: 0;
      padding: 0;
      pointer-events: none;
      > .file {
        height: 0;
        font-size: 0;
        padding: 0;
        pointer-events: none;
      }
    }
  }
}
